@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* imported font */

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.description {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #636161;
    font-weight: 400;

}

.title {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: #121212;
    font-weight: 700;
}

.banner {
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0.212) 100%), url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
}

.banner-container {
    width: 40%;
    margin: 0px auto;
    text-align: center;
    margin-top: 300px;
}

.banner-title {
    color: white;
    font-size: 60px;
    font-weight: 700;

}

.banner-description {
    color: white;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-btn,
.btn {
    color: white;
    background-color: tomato;
    padding: 15px 30px;
    outline: none;
    border: 2px solid tomato;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    font-weight: 600;
}

.banner-btn:hover {
    background-color: transparent;
}

.btn:hover {
    background-color: transparent;
}

/* banner-section-end */
/* donate-section-start  */
.donate-section {
    padding-top: 300px;
    width: 100%;
}

.donate-container {
    width: 45%;
    margin: 0 auto;
}

.donate-header {
    margin-bottom: 100px;
}

.donate-content {
    display: flex;
    justify-content: space-around;
}

.donate-item {
    width: 136px;
    height: 123px;
    border: 2px solid #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FAFAFA;
    margin-bottom: 80px;
    transition: 0.3s;
}
.donate-item:nth-child(2){
    background-color: rgba(255, 99, 71, 0.37);
    color: tomato;
    border: 2px solid tomato;
}
.donate-item:hover{
    box-shadow: 0px 0px 5px 0px tomato;
    transform: scale(1.08);
    cursor: pointer;
}

.donate-item h3{
    font-size: 30px;
    font-weight: 700;
}
.donate-footer{
    text-align: center;
}
.donate-footer >h3{
    padding: 20px 0;
    color: #B3B3B3;
    font-size: 18px;
}
.donate-btn{
    margin-top: 30px;
}
.donate-btn:hover{
    color: #121212;
}
/* donate-section-end */
